<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="SitecoreCoffee.Foundation.RemoteEvents.Pipelines.Initialize, SitecoreCoffee.Foundation.RemoteEvents"
                   method="InitializeFromPipeline" />
      </initialize>
    </pipelines>
    
    <events>
      <event name="publish:itemProcessed">
        <handler type="SitecoreCoffee.Foundation.RemoteEvents.EventHandlers.CacheRebuildEventHandler, SitecoreCoffee.Foundation.RemoteEvents"
                 method="OnItemProcessed" />
      </event>
      
      <event name="publish:end">
        <handler type="SitecoreCoffee.Foundation.RemoteEvents.EventHandlers.CacheRebuildEventHandler, SitecoreCoffee.Foundation.RemoteEvents"
                 method="OnPublishEnd" />
      </event>
      
      <event name="customCache:rebuild">
        <handler type="SitecoreCoffee.Foundation.RemoteEvents.EventHandlers.CacheRebuildEventHandler, SitecoreCoffee.Foundation.RemoteEvents" 
                 method="OnCustomCacheRebuild" />
      </event>
      <event name="customCache:rebuild:remote">
        <handler type="SitecoreCoffee.Foundation.RemoteEvents.EventHandlers.CacheRebuildEventHandler, SitecoreCoffee.Foundation.RemoteEvents" 
                 method="OnCustomCacheRebuild" />
      </event>
    </events>
  </sitecore>
</configuration>