packages/
SitecoreCoffee/bin/
SitecoreCoffee/obj/
RemoteEvents/RemoteEvents/obj/
*.suo
.vs/
RemoteEvents/RemoteEvents/bin/
*.user
Project/SitecoreCoffee/obj/
Project/SitecoreCoffee/bin/
RemoteEvents/obj/
Foundation/RemoteEvents/bin/
Foundation/RemoteEvents/obj/
RemoteEvents/bin/
