<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="search_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">sitecorecoffee_$(id)</param>
            
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />

            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">

              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">

                <indexAllFields>false</indexAllFields>

                <!-- Included fields -->
                <include hint="list:AddIncludedField">
                  <Title>{5C4FB49D-6411-4E0F-A090-D158D38EA4E2}</Title> <!-- Title -->
                  <MetaDescription>{B2D42DF8-C2CD-4C42-87B8-A7C4699674A2}</MetaDescription> <!-- Content -->
                </include>

                <!-- Included templates -->
                <include hint="list:AddIncludedTemplate">
                  <GeneralPage>{2D50D9BC-C967-4862-AA26-776A1B59CD8B}</GeneralPage>
                  <Commerce>{659ADCDE-A730-4475-A8F3-2E6B83D7CF43}</Commerce>
                  <Search>{731E7A34-BD1A-4452-8CB0-F382C2404C0C}</Search>
                </include>

              </documentOptions>
              
            </configuration>
            
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/SitecoreCoffee/Home</Root>
              </crawler>
            </locations>
            
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>