@using (Html.BeginForm("CartDelete", "Cart", FormMethod.Post, new { @class = "identify-form" }))
{
    <div class="row">
        <div class="col-md-12 mb-3 align-top">
            <input type="submit" value="Delete Cart" class="btn btn-primary btn-block btn-danger">
        </div>
    </div>
}


