@model SitecoreCoffee.Feature.Commerce.ViewModel.CartSetPropertiesViewModel

@using (Html.BeginForm("SetProperties", "Cart", FormMethod.Post))
{
    <h6>Vat number:</h6>

    <div class="row">
        <div class="col-md-10 mb-3">
            @Html.TextBoxFor(x => x.VatNumber, new { @class = "form-control" })
        </div>
        <div class="col-md-2 mb-3">
            <input type="submit" value="Set" class="btn btn-primary btn-block">
        </div>
    </div>

}

