@model SitecoreCoffee.Feature.Commerce.ViewModel.CartAddViewModel

@using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
{
    <h6>Product name:</h6>

    <div class="row">
        <div class="col-md-10 mb-3">
            @Html.TextBoxFor(x => x.ProductId, new { @class = "form-control" })
        </div>
        <div class="col-md-2 mb-3">
            <input type="submit" value="Add" class="btn btn-primary btn-block">
        </div>
    </div>

}

