@using Sitecore.Mvc.Analytics.Extensions
@{
    //Do not move this without understanding why is needs to be before the telium data later
    //https://jermdavis.wordpress.com/2016/04/04/getting-mvc-components-to-communicate/
    var pageContent = Html.Sitecore().Placeholder("pagecontent");
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="~/Theme/vendor/bootstrap/css/bootstrap.min.css" />

    @*<title>@(Model.PageTitle)</title>*@

    @Html.Sitecore().VisitorIdentification()
    
    <script src="~/Theme/vendor/jquery/jquery-3.3.1.min.js"></script>
</head>

<body>
    <header></header>

    <main>
        <header>
            @Html.Sitecore().Placeholder("headercontent")
        </header>

        <section>
            
            <div class="container">
                @pageContent
            </div>

        </section>
    </main>

    <footer>
        @Html.Sitecore().Placeholder("footercontent")
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Theme/vendor/bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>