<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <!--  EA STATE CART REPOSITORY
          Should be used for Cart CRUD operations for carts that stored in EA States.
    -->
    <eaStateCartRepository
        type="Sitecore.Commerce.Data.Carts.EaStateCartRepository, Sitecore.Commerce"
        singleInstance="true">
      <patch:attribute name="type" value="SitecoreCoffee.Feature.Commerce.Repositories.EaStateCartRepository, SitecoreCoffee.Feature.Commerce" />
      <param ref="entityFactory" />
      <param ref="eaPlanProvider" />
    </eaStateCartRepository>

    <!-- CART SERVICE PROVIDER 
         Defines the object which provides core cart services.
         Default implementation simply calls corresponding pipelines.
    -->
    <cartServiceProvider
      type="Sitecore.Commerce.Services.Carts.CartServiceProvider, Sitecore.Commerce"
      singleInstance="true">
      <patch:attribute name="type" value="SitecoreCoffee.Feature.Commerce.Services.Commerce.CartServiceProvider, SitecoreCoffee.Feature.Commerce" />
    </cartServiceProvider>

  </sitecore>
</configuration>