<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      
      <!-- REPLACE CART
           Responsibility is to replace the given Anonymous cart to the given User cart.
      -->
      <commerce.carts.replaceCart>
        <processor type="SitecoreCoffee.Feature.Commerce.Pipelines.Carts.ReplaceCart.ReplaceCart, SitecoreCoffee.Feature.Commerce" >
          <param ref="cartServiceProvider"/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce" />
      </commerce.carts.replaceCart>
      
    </pipelines>
  </sitecore>
</configuration>