<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
          name="Feature.Commerce" 
          description="Commerce definition items" 
          dependencies="Foundation.*"
          patch:after="configuration[@name='Foundation.Serialization']"
          extends="SitecoreCoffee.Base">
          <predicate>
            <include name="Feature.Commerce.DataTemplates" database="master" path="/sitecore/templates/Feature/Commerce" />
            <include name="Feature.Commerce.DataTemplateBranches" database="master" path="/sitecore/templates/branches/Feature/Commerce" />
            <include name="Feature.Commerce.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/CommerceConnect" />
            <!--<include name="Feature.Commerce.EngagementPlans.AbandonedCarts" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/sage Abandoned Carts" />
            <include name="Feature.Commerce.EngagementPlans.NewOrderPlaced" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/sage New Order Placed" />-->
            <include name="Feature.Commerce.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Commerce" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
