<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
          name="Project.SitecoreCoffee" 
          description="SitecoreCoffee definition items" 
          dependencies="Foundation.*"
          patch:after="configuration[@name='Foundation.Serialization']"
          extends="SitecoreCoffee.Base">
          <predicate>
            <include name="Project.SitecoreCoffee.Templates" database="master" path="/sitecore/templates/project/SitecoreCoffee" />
            <include name="Project.SitecoreCoffee.Renderings" database="master" path="/sitecore/layout/renderings/project/SitecoreCoffee" />
            <include name="Project.SitecoreCoffee.Content" database="master" path="/sitecore/content/SitecoreCoffee" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
