<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="SitecoreCoffee.Feature.Metadata" 
                       description="Metadata definition items" 
                       dependencies="Foundation.*" 
                       patch:after="configuration[@name='Foundation.Serialization']"
                       extends="SitecoreCoffee.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="SitecoreCoffee.Feature.Metadata.Templates" database="master" path="/sitecore/templates/Feature/Metadata" />
            <include name="SitecoreCoffee.Feature.Metadata.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Metadata" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>